<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="testdbEntities" connectionString="metadata=res://*/Data.LaboContext.csdl|res://*/Data.LaboContext.ssdl|res://*/Data.LaboContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.;Database=TestDB;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TwitterDBContext" connectionString="metadata=res://*/Data.TwitterDbContext.csdl|res://*/Data.TwitterDbContext.ssdl|res://*/Data.TwitterDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.;Database=TestDB;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LaboDbContext" connectionString="metadata=res://*/Data.LaboDbContext.csdl|res://*/Data.LaboDbContext.ssdl|res://*/Data.LaboDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=P@ssw0rd;Persist Security Info=True;database=testdb&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TwitterDBContext" connectionString="metadata=res://*/Data.TwitterDbContext.csdl|res://*/Data.TwitterDbContext.ssdl|res://*/Data.TwitterDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=P@ssw0rd;Persist Security Info=True;database=testdb&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LaboDbContext" connectionString="metadata=res://*/Data.LaboDbContext.csdl|res://*/Data.LaboDbContext.ssdl|res://*/Data.LaboDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.;Database=TestDB;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />
    <add name="testdbEntities" connectionString="metadata=res://*/Data.LaboContext.csdl|res://*/Data.LaboContext.ssdl|res://*/Data.LaboContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=P@ssw0rd;Persist Security Info=True;database=testdb&quot;" providerName="System.Data.EntityClient" />
    <add name="TestDBEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TestDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContentDBContext" connectionString="metadata=res://*/Data.ContentDBContext.csdl|res://*/Data.ContentDBContext.ssdl|res://*/Data.ContentDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TestDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PositionFinderStatisticsEntities" connectionString="metadata=res://*/Data.KeywordPositionFinderDB.csdl|res://*/Data.KeywordPositionFinderDB.ssdl|res://*/Data.KeywordPositionFinderDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TestDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
