<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="5.0.0.73" targetFramework="net45" />
  <package id="Labo.Common.Data.EntityFramework" version="0.1.0" targetFramework="net45" />
  <package id="Labo.Common.Data.SqlServer" version="0.1.3" targetFramework="net45" />
  <package id="Labo.Commons" version="0.1.9" targetFramework="net45" />
  <package id="Labo.Commons.Data" version="0.2.0" targetFramework="net45" />
  <package id="Labo.Commons.DomainModel" version="0.1.4" targetFramework="net45" />
  <package id="Labo.Commons.Ioc" version="0.1.8" targetFramework="net45" />
</packages>